@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

div#gridWrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: white;

    grid-template-columns: 5fr 1fr;
    grid-template-rows: 3fr 1fr 7fr;
    grid-template-areas:
    "he he"
    "na na"
    "ma as"
    ;
    grid-gap: 2px;
}




div#gridWrapper #header {
    background-color: #a20a0a;
    grid-area: he;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

div#gridWrapper #header p {
    font-size: 100px;
    color: #ffa36c;
}

div#gridWrapper #nav {
    background-color: #ffa36c;
    grid-area: na;

    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

div#gridWrapper #nav a {
    text-decoration: none;
    color: #a20a0a;
    display: inline-block;
    border-width: 2px;
    border-color: #a20a0a;
    padding: 100% 25px;
}

div#gridWrapper #nav a:hover, a:active {
    background-color: red;
  }

div#gridWrapper #aside {
    background-color: #799351;
    grid-area: as;
    color: #f6eec9;
    text-align: center;
}

div#gridWrapper #aside h {
    font-size: 25px;
}

div#gridWrapper #main {
    background-color: #f6eec9;
    grid-area: ma;
    color: #799351;
}

