@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

div#gridWrapper {
    display: grid;
    width: 100vw;
    max-width: 100%;
    height: 36vh;
    background-color: white;

    grid-template-columns: 5fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
    "he he"
    "na na"
    ;
    grid-gap: 2px;
}


div#gridWrapper2 {
    margin-top: 2px;
    display: grid;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: white;

    grid-template-columns: 5fr 1fr;
    grid-template-areas:
    "ma as"
    ;
    grid-gap: 2px;
}



div#gridWrapper #header {
    background-color: #a20a0a;
    grid-area: he;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

div#gridWrapper #header h1 {
    width: 60vw;
    font-size: 100px;
    color: #ffa36c;
}

div#gridWrapper #nav {
    background-color: #ffa36c;
    grid-area: na;
    height: 50px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

div#gridWrapper #nav a {
    flex: 1;
    text-align: center;
    border-style: solid;
    border: 1px 0px;
    text-decoration: none;
    color: #a20a0a;
    display: inline-block;
    border-width: 2px;
    border-color: #a20a0a;
    padding: 100% 25px;
    transition: background-color 300ms, color 300ms;
}

div#gridWrapper #nav a:hover, a:active {
    background-color: #a20a0a;
    color: #ffa36c;
  }

div#gridWrapper2 #aside {
    background-color: #799351;
    grid-area: as;
    color: #f6eec9;
    text-align: center;
}

div#gridWrapper2 #aside div {
    border-style: solid;
    border-color: black;
    margin: 40px 20px;
    padding: 10px;
}

div#gridWrapper2 #aside div h1 {
    margin: 10px;
}

div#gridWrapper2 #aside div h2 {
    font-size: 18px;
}

div#gridWrapper2 #aside div p {
    margin-bottom: 5px;
}

div#gridWrapper2 #aside div a {
    color: #f6eec9;
}

div#gridWrapper2 #main {
    background-color: #f6eec9;
    grid-area: ma;
    color: #799351;
    text-align: center;
    padding: 20px 5px;
}

div#gridWrapper2 #main div#images {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    margin-top: 30px;
}

div#gridWrapper2 #main div#images .imageContainer {
    height: 200px;
}

div#gridWrapper2 #main div#images .imageContainer img {
    transition: filter 300ms;
    filter: opacity(0.85);
    height: 200px;
}

div#gridWrapper2 #main div#images .imageContainer:hover img {
    transition: filter 300ms;
    filter: opacity(0.2);
    height: 200px;
}

div#gridWrapper2 #main div#images .imageContainer h3 {
    transition: filter 300ms;
    filter: opacity(0);
    font-size: 30px;
    position: relative;
    transform: translate(0%, -350%);
}

div#gridWrapper2 #main div#images .imageContainer:hover h3 {
    transition: filter 300ms;
    filter: opacity(1);
}

div#gridWrapper2 #main h {
    font-size: 25px;
}
